<p>This is the about view.</p>


<div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6">
        <div class="card">
            ...
            <style>
              #dropdown-menu h2 {
                padding: 14px;
                margin: 0;
                font-size: 16px;
                font-weight: 400;
              }
              #dropdown-menu .sample {
                width: 200px;
              }
              #dropdown-menu .form-group {
                margin: 30px 0;
              }
              .alert {
                display: none;
              }
            </style>
<h1 class="header">Dropdown</h1>

<div class="sample">
  <select class="form-control" placeholder="Your favorite pastry">
    <option value="Apple fritter">Apple fritter</option>
    <option value="Croissant">Croissant</option>
    <option value="Donut">Donut</option>
    <option value="Financier">Financier</option>
    <option value="Jello">Jello</option>
    <option value="Madeleine">Madeleine</option>
    <option value="Pound cake">Pound cake</option>
    <option value="Pretzel">Pretzel</option>
    <option value="Sfogliatelle">Sfogliatelle</option>
  </select>

  <br>

  <select class="form-control" disabled="" placeholder="Your favorite pastry">
    <option value="disabled">Disabled</option>
  </select>
</div>
<br>
<p>Dropdowns provided by <a href="https://github.com/FezVrasta/dropdown.js" target="_blank">Dropdown.js</a></p>
        </div>
    </div>

    <div class="col-lg-3"></div>
</div>

