<a href="javascript:void(0)" class="btn btn-info btn-fab btn-raised mdi-action-class context-btn" ng-click="showModal()"></a>
<div class="jumbotron">
  <div class="list-group">
    <div class="list-group-item">
        <div class="row-action-primary">
          <i class="mdi-image-filter-1"></i>
        </div>
        <div class="row-content">
            <a href="javascript:void(0)" class="btn btn-flat btn-primary">A</a>
        </div>
    </div>
    <div class="list-group-separator"></div>
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-image-filter-2"></i>
        </div>
        <div class="row-content">
            <a href="javascript:void(0)" class="btn btn-flat btn-primary">A</a>
            <a href="javascript:void(0)" class="btn btn-flat btn-primary">B</a>
            <a href="javascript:void(0)" class="btn btn-flat btn-primary">C</a>
            <a href="javascript:void(0)" class="btn btn-flat btn-primary">D</a>
            <a href="javascript:void(0)" class="btn btn-flat btn-primary" ng-click="$.material.init()">E</a>
        </div>
    </div>
    <div class="list-group-separator"></div>
    <div class="list-group-item">
        <div class="row-action-primary">
            <i>4</i>
        </div>
        <div class="row-content">
            <a href="javascript:void(0)" class="btn btn-flat btn-primary">INF</a>
        </div>
    </div>
    <div class="list-group-separator"></div>
</div>
<div class="checkbox radio-primary">
    <label>
        <input type="checkbox" checked>
        Option one is this
    </label>
</div>
  </div>

<ul class="row">
  <li ng-repeat="cosa in awesomeThings">
  {{cosa}}
  </li>
</ul>
<form class="form-horizontal">
    <fieldset>
        <legend>Legend</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input class="form-control" id="inputEmail" placeholder="Email" type="email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input class="form-control" id="inputPassword" placeholder="Password" type="password">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Checkbox
                    </label>
                </div>
                <br>
                <div class="togglebutton">
                    <label>
                        <input checked="" type="checkbox"> Toggle button
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputFile" class="col-lg-2 control-label">File</label>
            <div class="col-lg-10">
                <input readonly="" class="form-control floating-label" placeholder="Browse..." type="text">
                <input id="inputFile" multiple="" type="file">
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Textarea</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Radios</label>
            <div class="col-lg-10">
                <div class="radio radio-primary">
                    <label>
                        <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                        Option one is this
                    </label>
                </div>
                <div class="radio radio-primary">
                    <label>
                        <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                        Option two can be something else
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Selects</label>
            <div class="col-lg-10">
                <select class="form-control" id="select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <br>
                <select multiple="" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
<button class="btn btn-material-deeppurple">Deep purple button</button>
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
